body {
  font: 16px sans-serif;
  color: #1F2729;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  flex-direction: column;
}
h2 {
  font-size: 5rem;
}

button {
  cursor: pointer;
  border: 0;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  background: #04D361;
}